html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.navbar {
  padding-left: 2cm;
  padding-right: 2cm;
}

.navbar .navbar-brand {
  color: #0c9463;
}

.navbar .navbar-nav .nav-link {
  color: #0c9463;
  font-family: "Merriweather", serif;
  cursor: pointer;
  transition: 0.25s ease-in;
}

.navbar .navbar-nav .nav-link:hover {
  background-color: #0c9463;
  color: #191a19;
}

.navbar .navbar-nav .dropdown-item {
  color: #181818;
  font-size: large;
}

.profile .col-4 {
  padding-top: 115px;
}

.profile .col-8 {
  margin-top: 3.5cm;
}

.profile {
  background-color: #191a19;
  padding-bottom: 10cm;
}

.profile .row {
  color: #ffffff;
  padding-left: 3cm;
  padding-right: 3cm;
  padding-bottom: 0.2cm;
}

.activity {
  position: relative;
  overflow: hidden;
}

.activity .row {
  color: #ffffff;
  padding-left: 3cm;
  padding-right: 3cm;
  padding-bottom: 0.2cm;
}

.news {
  background-color: #0c9463;
}

.news img {
  width: 400px;
}

.news a:hover {
  background-color: #0c9463;
  color: #191a19;
}

.footer li {
  background-color: #181818;
  color: #ffffff;
}
